*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --imagem-1: url("./img/cabra.jpeg");
    --imagem-2: url("./img/cachorro.jpeg");
    --imagem-3: url("./img/cavalo.jpg");
    --imagem-4: url("./img/porco.png");
    --imagem-5: url("./img/tatu.jpeg");
    --imagem-6: url("./img/steve.webp");
    --imagem-7: url("./img/zumbi.gif");
    --imagem-8: url("./img/enderman.gif");
    --imagem-9: url("./img/evoker.webp");
    --bg-image: var(--imagem-1);

 
}
body{
    height: 100dvh;
    display: grid;
    place-content: center;
   
}
.imagem{
    width: 500px;
    height: 500px;
    margin-bottom: 16px;
    margin-left: 250px;
    box-shadow: 0 0 16px #000;
    border-radius: 12px;
    overflow: hidden;
    background: image-set(var(--bg-image));  
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.container{
    width: 1000px;
}
.container input{
    width: 1000px;
    height: 50px;
}
.button{
    display: flex;
    padding-block: 16px;
    justify-content: space-between;
    

}
.button button{
    width: 300px;
    height: 100px;
    box-shadow: 0 0 8px #6666;
    border-radius: 12px;
    overflow: hidden;
}
@keyframes slider-automatico {
    0%, 10% { background-image: var(--imagem-1); }
    11%, 21% { background-image: var(--imagem-2); }
    22%, 32% { background-image: var(--imagem-3); }
    33%, 43% { background-image: var(--imagem-4); }
    44%, 54% { background-image: var(--imagem-5); }
    55%, 65% { background-image: var(--imagem-6); }
    66%, 76% { background-image: var(--imagem-7); }
    77%, 87% { background-image: var(--imagem-8); }
    88%, 100% { background-image: var(--imagem-9); }
}