*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-image: url("./img/tatu.jpeg");
}
body{
    height: 100dvh;
    display: grid;
    place-content: center;
    background: image-set(var(--bg-image));  
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    width: 900px;
}
.container input{
    width: 900px;
    height: 50px;
}
.button{
    display: flex;
    padding-block: 16px;
    justify-content: space-between;

}
.button button{
    width: 300px;
    height: 100px;
}
.fundo{
    /* background-image: var(--bg-image); */
}